*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
img{
    width: 100%;
    height: auto;
}
body{
    padding:0 20px;
    max-width: 1350px;
    margin: auto;
    
}
/* .bg1{
    margin:0;
  background:
    url('images/Ellipse\ 36.png') no-repeat right top / 60%,
    url('images/Ellipse 37.png') no-repeat left bottom / 60%,
    #ffffff;
} */
.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
}

.nav {
    display: flex;
    gap: 200px;
    align-items: center;
}
.links {
    display: flex;
    gap: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
.links :first-child{
    color: black;
}
.login {
    display: flex;
    align-items: center;
    gap: 20px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
.login a {
    text-decoration: none;
    color: #A6A6A6;
}
.links a {
    text-decoration: none;
    color: #A6A6A6;
}
.logo h1 {
    font-size: 40px;
    color: #54BD95;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btn-su{
    padding: 10px 20px;
    background-color: #54BD95;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}



.top-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.top-main h1{
    font-size: 70px;
    width: 60%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.left-top p{
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.left-top{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 20px;
}
.left-top img{
    width: 350px;
}
.top-btns {
    display: flex;
    gap: 20px;
}
.btn-l{
    padding: 10px 20px;
    background-color: #54BD95;
    color: rgb(255, 255, 255);
    border: 2px solid #54BD95;
    border-radius: 50px;
    cursor: pointer;
}
.btn-r{
    padding: 10px 20px;
    background-color: white;
    color: #54BD95;
    border: 2px solid #54BD95;
    border-radius: 50px;
    cursor: pointer;
}
.main-2{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 20px;
}
.main-3{
    margin-top: 100px;
    display: flex;
    text-align: center;
    gap: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
    background-color: aliceblue;
}
.main-3-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 20px;
}
.main-3-left p{
    font-size: 15px;
    margin-bottom: 20px;
    color: #A6A6A6;
}
.ratings{
    display: flex;
    align-items: center;
    gap: 100px;
    margin-bottom: 20px;
}
.ratings p{
    font-size: 18px;
    font-weight: 500;
    color: #A6A6A6;
}
.ratings img{
    width: 150px;
}
.ratings h1{
    font-size: 22px;
}
.split-1, .split-2, .split-3{
    display: flex;
    gap: 20px;
    align-items: center;
    text-align: left;
    padding: 20px;
}
.rtg-1, .rtg-2, .rtg-3{
    /* width: 100px; */
    /* height: auto; */
    position: relative;
}
.rtg-1 img, .rtg-2 img, .rtg-3 img{
    /* width: 70px; */
    height: auto;
}
.lg-1, .lg-2, .lg-3{
    position:absolute;
    padding-left: 20px;
}
.main-3-right p{
    font-size: 15px;
    margin-bottom: 20px;
    color: #A6A6A6;
    
}
.main-4 h1{
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main-4 p{
    color: #A6A6A6;
}
.main-4-top{
    display: flex;
    text-align: left;
    justify-content: space-between;
    gap: 20px;
    padding: 50px;
    margin-top: 50px;
}

.main-4-top p{
    font-size: 17px;
    color: #A6A6A6;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btn-4{
    padding: 10px 20px;
    background-color: #54BD95;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 120px;
    height: auto;
}

.main-4-card{
  display:grid;
  gap:20px;
  grid-template-columns:repeat(auto-fit, minmax(250px,1fr));
}

.card-1 h1, .card-2 h1, .card-3 h1{
    font-size: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.main-5{
    margin-top: 100px;
    display: flex;
    /* flex-direction: column; */
    text-align: center;
    justify-content: space-around;
    gap: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 20px;
    text-align: left;
    
}
.main-5l{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.tick{
    display: flex;
    align-items: center;
    gap: 20px;
}
.tick img{
    display: flex;
    padding: 10px;
    height: auto;
}
.tick p{
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    margin-bottom: 7px;
}
.main-5r img{
    width: 350px;
    height: auto;
}
.main-6t{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}
.main-6t h1{
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main-6t p{
    color: #A6A6A6;
}
.btn-6{
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: #A6A6A6 solid 2px;
    border-radius: 50px;
    cursor: pointer;
    width: 130px;
    height: auto;
}
.btn-7{
    padding: 10px 20px;
    background-color: #54BD95;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 150px;
    height: auto;
    margin-bottom: 50px;
    
}
.plans{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 100px;
}
.plan-1 , .plan-2, .plan-3{
    display: flex ;
    flex-direction: column;
    justify-content: space-around;
    background-color: #ffffff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
    color: black;
    width: 350px;
    border-radius: 20px;
    padding-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.plan-2{
    background-color: #54BD95;
    color:#ffffff;
    height: 640px;
}

.pln-head ,.pln-head-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}
.pln-head p{
    color: #A6A6A6;
}
.pln-head-2 p{
    color: #ffffff;
}
.pln-dtls{
    
    background-color: #F9FAFB;
    padding: 50px;
    color: black;
    border-radius: 10px;
    margin: 20px;
}

ul {
    list-style-image: url('images/Subtract.png');
    padding: 10px ;
    font-size: 15px;
}
.btn-8{
    padding: 15px 20px;
    background-color: #54BD95;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 200px;
    height: auto;
    margin-top: 20px;
}

.section{
  padding:60px 20px;
  background-color: #0f1724;
  color: #ffffff;
}

.container{
  max-width:1200px;
  margin:auto;
  display:flex;
  gap:50px;
  align-items:flex-start;
  flex-wrap:wrap;
}

.left{
  flex:1;
}

.left h1{
  font-size:38px;
  margin-bottom:10px;
}

.sub{
  color:#a9b3c4;
  margin-bottom:20px;
}

.quote{
  font-size:70px;
  color:#54bd95;
}

.review{
  color:#cbd1db;
  margin-top:10px;
}

.author{
  margin-top:10px;
  font-style:italic;
}

.avatars{
  display:flex;
  gap:10px;
  align-items:center;
  margin-top:20px;
}

.avatars img{
  width:40px;
  height:40px;
  border-radius:50%;
}

.play{
  background:none;
  border:2px solid white;
  border-radius:50%;
  width:40px;
  height:40px;
  color:white;
  cursor:pointer;
}

.right{
  flex:1;
  display:flex;
  justify-content:center;
}

.form-box{
  background:#1c2433;
  padding:30px;
  border-radius:15px;
  width:100%;
  max-width:400px;
  text-align:left;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.icon{
    width:50px;
}

.form-box h2{
    margin:10px 0 20px 0;
}

label{
  font-size:14px;

}

input, textarea{
  width:100%;
  padding:10px;
  border-radius:6px;
  border:none;
  margin:8px 0 15px 0;
}

.btn{
  width:100%;
  padding:10px;
  background:#54bd95;
  border:none;
  border-radius:8px;
  color:white;
  cursor:pointer;
}

.small{
  text-align:center;
  margin-top:10px;
  font-size:12px;
  color:#cbd1db;
}

.footer{
  padding:40px 20px;
    background:#0f1724;
    color:#ffffff;

}

.footer-top{
  max-width:1200px;
  margin:auto;
  display:flex;
  gap:40px;
  flex-wrap:wrap;
}

.f-brand{
  flex:1;
    display:flex;
    flex-direction:column;
    gap:10px;
}
.f-brand h2{
  font-size:46px;
  color:#54bd95;
  font-weight: 600;
}

.email-box{
  margin-top:10px;
  background:#1c2433;
  border: #A6A6A6 solid 1px;
  border-radius:50px;
  display:flex;
  padding:5px;
}

.email-box input{
  border:none;
  outline:none;
    background:none;
  flex:1;
  padding-left:10px;
}

.email-box button{
  border:none;
  background:#54bd95;
  color:white;
  width:55px;
  border-radius:50%;
}

.cols{
  display:flex;
  flex:2;
  justify-content:space-evenly;
  flex-wrap:wrap;
}

.cols h3{
  margin-bottom:10px;
}

.cols p{
  color:#cbd1db;
  font-size:14px;
  margin:4px 0;
}

.footer-bottom{
  max-width:1200px;
  margin:auto;
  margin-top:30px;
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
  color:#cbd1db;
  font-size:13px;
}

@media(max-width:750px){
  .container{
    text-align:center;
  }

  .left{
    text-align:left;
  }

  .footer-bottom{
    justify-content:center;
    gap:10px;
    text-align:center;
  }
}


@media(max-width:750px){
    header,
  .top-main,
  .main-3,
    .main-4-top,
  .main-5,
  .plans,
  .ftr-up{
    flex-direction:column;
    align-items: center;
    gap:30px;
  }
}

@media(max-width:750px){
  .top-main h1{
     font-size:34px;
     width:100%;
  }
}
.nav, .plans, .ratings{
  flex-wrap:wrap;
  gap: 30px;
}
@media(max-width:750px){
  .links{
    text-align:center;
    gap:25px;
  }
}

